@using Time_Sheet_Entry.Data.Enum

@model TimeSheetEntry
@{
    ViewData["Title"] = "Enter your time sheet";
}


<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Enter your time sheet</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="EnterTime">
                    <div asp-validation-summary="ModelOnly" class="text-danger">

                    </div>
                    
                    <div class="form-group">
                        <label asp-for="WorkDate" class="control-label"></label>
                        <input asp-for="WorkDate" type="date" class="form-control" />
                        <span asp-validation-for="WorkDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" type="time" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input asp-for="EndTime" type="time" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="WorkOrder" class="control-label"></label>
                        <select asp-for="WorkOrder" class="form-control" asp-items="Html.GetEnumSelectList<WorkOrder>()"></select>
                        <span asp-validation-for="WorkOrder" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-outline-success float-right" />
                        
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>